.nav-menu {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: -9px;
  top: 0px;

  background: #ffffff;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: black;
}

.logo > span {
  color: #2196f3;
}

.navigation {
  position: absolute;
  width: 254px;
  height: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  top: 32px;
  color: #212121;
}

.agency {
  position: absolute;
  width: 53px;
  left: 453px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.agency:hover {
  color: #2196f3;
}

.agency:focus {
  color: #2196f3;
}

.portfolio {
  left: 552px;
  right: 0%;
}

.portfolio:hover {
  color: #2196f3;
}

.portfolio:focus {
  color: #2196f3;
}

.contact {
  width: 51px;
  left: 656px;
}
.contact:hover {
  color: #2196f3;
}

.contact:focus {
  color: #2196f3;
}
.top-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.top-phone {
  position: absolute;
  width: 110px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.main {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.headline {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 230px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button-main {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-main > span {
  width: 117px;
  height: 30px;
  left: 1px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  align-items: center;
  letter-spacing: 0.06em;
}

.assets-h1 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.assets-p1 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.assets-h2 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.assets-p2 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.assets-h3 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.assets-p3 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.assets-h4 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.assets-p4 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.offer-h {
  position: absolute;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  /* letter-spacing: 0.03em; */

  color: #212121;
}

.img-offer > li {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
}

.img-offer1 {
  left: 215px;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
}
.img-offer2 {
  left: 615px;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
}
.img-offer3 {
  left: 1015px;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 1061px;
}
.team-h {
  position: absolute;
  width: 210px;
  height: 42px;
  left: 695px;
  top: 1543px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.img-team-1 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.name-1 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 314px;
  top: 1925px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.position-1 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 285px;
  top: 1954px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  /* letter-spacing: 0.03em; */

  color: #757575;
}

.img-team-2 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.name-2 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 614px;
  top: 1925px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  /* letter-spacing: 0.03em; */

  color: #212121;
}
.position-2 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 577px;
  top: 1954px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  /* letter-spacing: 0.03em; */

  color: #757575;
}

.img-team-3 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 815px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.name-3 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 914px;
  top: 1925px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.position-3 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 912px;
  top: 1954px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  /* letter-spacing: 0.03em; */

  color: #757575;
}

.img-team-4 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1635px;

  background: url(4853.jpg);
  border-radius: 0px;
}

.name-4 {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 1214px;
  top: 1925px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.position-4 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 1207px;
  top: 1954px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background: #2f303a;
}

.logo-bottom {
  color: white;
}

.address-bottom {
  position: absolute;
  width: 246px;
  height: 21px;
  left: 215px;
  top: 2222px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-bottom {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2252px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.phone-bottom {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2282px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
